/* ==== CSS reset ====*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ==== Common style ==== */

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html {
	overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #222;
    color: #eee;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quantico', sans-serif;
	margin-bottom: 1em;
}

strong {
	font-weight: 900;
}

p {
	font-size: 1.2em;
	line-height: 1.5;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

section {
	padding: 2em;
	width: 100%;
	height: 100vh;
	position: relative;
}

.main {
	opacity: 0;
}

a,
a:hover,
a:checked {
	color: white;
}

.posabs {
	position: absolute;
	top: 0;
}

.flexbox {
	display: flex;
}

.flex-sb {
	justify-content: space-between;
}

.flex-sa {
	justify-content: space-around;
}

.flex-hc {
	justify-content: center;
}

.flex-vc {
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.flex-rw {
	flex-flow: row wrap;
}

.flex-cc {
	align-content: center;
}

.title {
	display: inline-block;
	margin-bottom: 0.5em;
}

.navsidebar {
	position: fixed;
	height: 100vh;
	z-index: 100;
	text-align: center;
	padding-right: 2em;
	right: 0;
}

.navsidebar li {
	padding-top: 3em;
	padding-right: 1em;
}

.navsidebar a {
	display: block;
	text-decoration: none;
	opacity: 0.8;
}

.navsidebar a:hover {
	opacity: 1;
}

.navsidebar h3 {
	opacity: 0.8;
	margin: 0;
}

.up,
.down {
	cursor: pointer;
}


/* ==== Start-animation ==== */

.start-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
}

.logo-box {
	width: 180px;
	height: 180px;
	position: absolute;
	z-index: 5;
	overflow: visible !important;
}

.mylogo {
	margin-right: 5px;
	position: absolute;
	width: 100%;
	height: 100%;
}

.transperant {
	opacity: 0;
}

#mylogoJ {
	left: -185px;
}

#mylogoT {
	left: 0;
}

#mylogoF {
	left: 185px;
}


/* ==== Parallax cover ==== */

.cover-parallax {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	background-image: url("photos/parallax/parallax-4.jpg");
	background-size: 100%;
}

.parallax {
	position: absolute;
}

#parallax3 {
	width: 115%;
	left: -7.5%;
	bottom: -10%;
	z-index: 1;
}

#parallax2 {
	width: 130%;
	left: -17.5%;
	bottom: -15%;
	z-index: 2;
}

#parallax1 {
	width: 145%;
	right: -25%;
	bottom: -20%;
	z-index: 3;
}

.shade {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, #ccc 100%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.shade a {
	margin: 1em;
}


/* ==== Name ==== */

.about {
	background-image: url('subtle-pattern/mooning.png'); /* Background pattern from Subtle Patterns */
}

.about .title {
	color: #666;
}

.propic {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 0;
	cursor: pointer;
	background: #888;
	border-radius: 15px;
}

#mypic {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 1;
	top: 400px;
}

.inset-border {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	box-shadow: inset 0 0 40px #666;
	z-index: 5;
}

.fainname {
	font-size: 250px;
	color: #aaa;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.info {
	width: 840px;
	margin: 0 auto;
}

.info * {
	padding: 0;
}

.detail {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 15px;
	padding: 0;
	cursor: pointer;
	background: #888;
}

.centerdiv {
	margin-left: auto;
	margin-right: auto;
}


.separate {
	width: 180px;
}

.paper {
	background-image: url('subtle-pattern/lined_paper.png'); /* Background pattern from Subtle Patterns */
	color: #666;
	padding: 20px;
	font-size: 1em;
	position: relative;
	width: 100%;
	height: 100%;
}

#paper1 {
	top: -100%;
	font-size: 2em;
	font-weight: 600;
	color: #888;
}

#paper2 {
	top: 100%;
}

#paper3 {
	left: 100%;
}

#paper4 {
	left: -100%;
}


/* ==== Photo ==== */

.portfolio {
	background: url('subtle-pattern/grey_wash_wall.png'); /* Background pattern from Subtle Patterns */
	perspective: 1000px;
	position: relative;
}

.portfolio .logo-box,
.contact .logo-box {
	margin: 30px auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	width: 97px;
	height: 97px;
}

#mylogoJJ,
#mylogoTT,
#mylogoFF,
#mylogoJJJ,
#mylogoTTT,
#mylogoFFF {
	opacity: 0.6;
}

.slidewrap img {
	width: 220px;
	display: inline-block;
	margin: 0 5px 5px 0;
	
}

.slidewrap {
	margin: auto;
	margin-top: 25px;
	overflow: visible;
	max-width: 950px;
	position: relative;
	text-align: center;
	perspective: 2000px;
}

.deco-div {
	border-radius: 5px;
	position: absolute;
	background: white;
}


/* ==== Contact ==== */

.contact {
	background: url('subtle-pattern/mooning.png'); /* Background pattern from Subtle Patterns */
	color: #666;
}

.myfooter {
	background: #333;
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 70px;
}

.contact h3 {
	font-weight: 700;
	line-height: 1.5em;
	text-align: center;
	color: #777;
}

.contact p {
	max-width: 500px;
	margin-bottom: 2em;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

.contact .fa-envelope {
	color: #777;
	font-size: 64px;
	vertical-align: middle;
}

.contact .fa-envelope:hover {
	color: #eee;
}

.contactcontent {
	margin: auto;
	position: absolute;
	width: 95%;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
}

.myfooter a {
	display: inline-block;
	margin: 10px 15px;
}

.myfooter i {
	color: #ccc;
}

.myfooter i:hover {
	color: #fff;
}


/* ==== Media Rule ==== */

@media screen and (max-width: 1024px) {

	section {
		height: fit-content;
		height: -moz-fit-content;
		height: -webkit-fit-content;
		height: -ms-fit-content;
		padding-bottom: 50px;
		overflow: hidden;
	}

	.logo-box {
		width: 150px;
		height: 150px;
	}

	#mylogoJ {
		left: -155px;
	}
	
	#mylogoF {
		left: 155px;
	}

	.cover-parallax {
		background-image: url("photos/parallax/parallax-4.jpg");
		background-size: auto 100vh;
		background-position: center center;
	}

	.cover-parallax img {
		display: none;
	}

	.info {
		max-width: 85%;
	}

	.contact {
		min-height: 600px;
	}

	.portfolio .logo-box,
	.contact .logo-box {
		display: none;
	}

}

@media screen and (max-width: 768px) {

	.logo-box {
		width: 100px;
		height: 100px;
	}

	#mylogoJ {
		left: -105px;
	}
	
	#mylogoF {
		left: 105px;
	}


	.info {
		max-width: 85%;
	}

	.contact {
		min-height: 650px;
	}

	.fainname {
		font-size: 200px;
	}
}

@media screen and (max-width: 576px) {

	h1 {
		font-size: 3em;
	}

	.slidewrap img {
		width: 150px;
	}

	.contact {
		min-height: 600px;
	}

	.contact h3 {
		font-size: 1.6em;
	}

	.info {
		max-width: 95%;
	}

	.navsidebar {
		display: none;
	}
}